{% extends 'index.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Resources</div>
                <div class="card-text">
                    <ul><a href="https://nmaahc.si.edu/learn/talking-about-race/resources">Talking About Race - National
                            Museum of African American History & Culture</a></ul>
                    <ul><a href=""></a></ul>
                    <ul><a href=""></a></ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}