{% extends "index.html" %}

{% block content %}

<div class="container">
    <div class="m-4">

    </div>
    <div class="row">
        <div class="card col m-4">
            <img src="https://i.ibb.co/gmBVMZh/Untitled-design-8.png" class="card-img-top">
            <div class="card-body">
                <p class="card-title">
                    This website is designed to help you uncover your unconscious biases.
                    We hope it will be a starting point for reflection.
                </p>

                <p class="card-text">
                    How does it work? We will present you with three specific scenarios.
                    You'll write your response to them, and then you'll have the opportunity
                    to compare your response to the recommended approach.
                </p>
                <a href="/scenario" class="btn btn-primary">Scenario 1</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}