{% extends "index.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="card-title">{{scenario.title}}</div>
        <div class="card-text">
            {{scenario.description}}
        </div></br>
        <form id="form-user-response">
            <input type="text-area" id="form-input">
        </form>
    </div>
</div>
<button id="response" class="btn btn-info">Submit response</button>

{% if scenario.id == 1 %}
<div id="answer" class="d-none">
    <div class='user-response'>
    </div>
<div id="answer" class="hidden">
    <h3>  Your Response: </h3>
    <div class="card-body">
        <div class='user-response'>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="card-title"> Suggestions</div>
            <div class="card-text">

                <p>Compare your response with the following:</p>

                <p>Before you speak, take inventory of your emotions. What bodily sensations are you
                    experiencing?
                    How
                    do
                    your
                    head, stomach, and heart feel?</p>

                <p>You might say 'I don't see it that way. I know the job market is tough right now, but have
                    you
                    considered
                    that it might be an effect of the pandemic?'</p>
            </div>
        </div>
    </div>
</div>
{% else %}

<div id="answer" class="d-none">
    <div class='user-response'>
    </div>

    <div class="card m-4">
        <div class="card-body">
            <div class="card-title"> Suggestions </div>
            <div class="suggestions">
                <ul>
                    {% for suggestion in scenario.suggestions %}
                    <li>{{suggestion}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="card m-4">
        <div class="card-body">
            <div class="card-title"> Insights</div>
            <div class="insights">
                <div class="insights">
                    <ul>
                        {% for insight in scenario.insights %}
                        <li>{{insight}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}