{% extends "index.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="card-title">{{scenario.title}}</div>
        <div class="card-text">
            {{scenario.description}}
        </div></br>
        <form id="form-user-response">
            <input type="text-area" id="form-input">
        </form>
    </div>
</div>
<button id="response" class="btn btn-info">Submit response</button>
<div id="answer" class="hidden">
    <div class='user-response'>
    </div>
    <div class="card m-4">
        <div class="card-body">
            <div class="card-title"> Suggestions </div>
            <div class="suggestions">
                <ul>
                    {% for suggestion in scenario.suggestions %}
                    <li>{{suggestion}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="card m-4">
        <div class="card-body">
            <div class="card-title"> Suggestions </div>
            <div class="insights">
                <div class="insights">
                    <ul>
                        {% for insight in scenario.insights %}
                        <li>{{insight}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}