{% extends "index.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="card-title">Scenario 1</div>
        <div class="card-text">
            A talkative new colleague is an avid tabloid and social media fan. She believes most of the things she reads
            a little too much, and talks constantly about refugees and asylum seekers being responsible for all kinds of
            issues that exist in our society. It has gotten to the point where you can't even talk about find a new
            property to rent without her loudly blaming immigrants for "leeching off of the government" and "getting
            handouts". Her husband has had a difficult time finding a job after being laid off, and she fully thinks
            immigrants are responsible and have "taken all the jobs". How do you respond to these statements?
        </div></br>
        <form id="form-user-response">
            <input type="text-area" id="form-input">
        </form>
    </div>
</div>
<button id="response" class="btn btn-info">Submit response</button>
<div id="answer" class="hidden">
    <div class='user-response'>

    </div>
    <div class="suggestions">
        <ul>

        </ul>
    </div>
    <div class="insights">
        <ul>

        </ul>
    </div>
</div>

{% endblock %}